@model Taxonomy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
   
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sorting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sorting)
        </dd>
    </dl>
</div>
<div>


    <button class="button-68" role="button"> <a asp-action="Edit" asp-route-id="@Model.Id">Edit </a></button>


    


    <button class="button-29" role="button">
        <a asp-action="Index">Back to List</a>
    </button>


</div>
